/*-----[ grid ]-----------------------------------------------------------------
| Style specifying the dimensions of the basic page grid and other common
| measures.
*/
$column-width     : 20px;
$horizontal-nudge : $column-width / 4;

$gutter-width     : 1.5 * $column-width;

$vertical-nudge   : $body-text-line-height / 4;
$section-spacing  : 2 * $body-text-line-height;

/*----------[ susy grid setup ]-------------------------------------------------
| Use this for responsive grid layouts. Tweak as necessary for your needs.
| cf Susy documentation: http://susydocs.oddbird.net/en/latest/
*/
$susy: (
  columns: 12,
  gutters: .25
);

@include layout($susy);

/*----------[ responsive screen breakpoints ]-----------------------------------
*/
$screen-xs-min  : 600px;
$screen-sm-min  : 768px;
$screen-md-min  : 992px;
$screen-lg-min  : 1200px;
$screen-xl-min  : 1500px;
$screen-2xl-min : 1800px;

$screen-2xs-max : $screen-xs-min - 1px;
$screen-xs-max  : $screen-sm-min - 1px;
$screen-sm-max  : $screen-md-min - 1px;
$screen-md-max  : $screen-lg-min - 1px;
$screen-lg-max  : $screen-xl-min - 1px;
$screen-xl-max  : $screen-2xl-min - 1px;

