/*------------------------------------------------------------------------------
| application.css
| application name v1.0
|
| This file rolls up the main styles for the entire application. You'll need to
| include the IE-specific and print stylesheets, as well as the display-size-
| specific styles separately in your markup. See the readme for an explanation
| of the directory organization.
------------------------------------------------------------------------------*/

// Reset - use Compass' reset mixins
@import 'compass/reset';

// Third-party mixins
@import 'compass/css3';
@import 'susy';

// ----- Icon fonts
$el-path  : '/fonts/elusive/';
$fa-path  : '/fonts/font-awesome/';
$fig-path : '/fonts/foundation-icons/';
$ion-path : '/fonts/ionicons/';
@import 'elusive';
@import 'font-awesome';
@import 'foundation-general';
@import 'ionicons';
@import 'icon-font-mixins';
@include fa-font-no-version;

// Basics
@import 'colors';
@import 'typography';
@import 'grid';

// Shared
@import 'sassybuttons';
@import 'mixins';
@import 'foundation';
@import 'page';
@import 'forms';
@import 'alerts';
@import 'pagination';
@import 'header';
@import 'footer';

// Feature-/page-specific
@import 'marketing-site';
